<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body>
<!-- Navbar -->
 <%- include('../partials/nav') %> <!--ejsinc ile partials dosyasındaki parçayı çağırıyoruz. -->

<!-- Ana İçerik -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/hizmetler" class="list-group-item list-group-item-action active">Hizmetler</a>
                <a href="/referanslar" class="list-group-item list-group-item-action">Referanslar</a>
                <a href="/iletisim" class="list-group-item list-group-item-action">İletişim</a>
            </div>
        </div>
        <div class="col-md-9">
            <% hizmetler.forEach(hizmet =>{ %>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="\static\images\<%= hizmet.resim %>" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title"><%= hizmet.baslik %></h5>
                                <p><%= hizmet.aciklama %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>

            <!-- pagination -->
            <%- include('../partials/pagination') %>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>
</html>