<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head',{ pagetitle:title}) %>
</head>
<body>
<!-- Navbar -->
 <%- include('../partials/nav') %> <!--ejsinc ile partials dosyasındaki parçayı çağırıyoruz. -->

<!-- Ana İçerik -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <%- include('../partials/link-panel',linkbar,title) %>
            </div>
            <img src="\static\images\asan-logo.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <% categories.forEach(hizmet =>{ %>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="\static\images\<%= hizmet.hizmetresim %>" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a style="text-decoration: none" href="/hizmetler/<%=hizmet.hizmetid%>"><%= hizmet.hizmettitle %></a>
                                </h5>
                                <p><%= hizmet.hizmettext %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>

            <!-- pagination -->
            <%- include('../partials/pagination') %>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>
</html>