<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body>
<!-- Navbar -->
<%- include('../partials/nav') %>

<!-- Ana İçerik -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <%- include('../partials/link-panel',linkbar) %>
            </div>
            <img src="\static\images\asan-logo.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <section class="container mt-3">
                <% bodytext.forEach(element=>{ %>
                    <h2><%= element.title %></h2>
                    <p><%= element.text %></p>
                <%})%>            
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>
</html>
Biz Kimiz?
Asansör Firması olarak, uzun yıllara dayanan tecrübemiz ve sektördeki lider konumumuzla müşterilere güvenilir, yenilikçi ve kaliteli asansör çözümleri sunuyoruz.
Tecrübe ve Güven
Şirketimiz, asansör sektöründeki zengin geçmişiyle gurur duyuyor. Yıllar içinde edinilen deneyim ve uzman kadromuz sayesinde, müşterilerimize en son teknolojiyle donatılmış güvenli, dayanıklı ve verimli asansör sistemleri sunabiliyoruz.
Profesyonel Ekibimiz
Bünyemizde bulunan uzman mühendislerimiz, teknisyenlerimiz ve proje yöneticilerimiz, her projede en üst düzeyde kalite ve güvenilirlik sağlamak adına bir araya gelmiştir. Müşterilerimize özel çözümler sunmak için sürekli olarak kendimizi geliştirmekte ve sektördeki en son trendleri takip etmekteyiz.
