<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head') %>
</head>
<body>
<!-- Navbar -->
<%- include('../partials/nav') %>

<!-- Ana İçerik -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <%- include('../partials/link-panel',linkbar,title) %>
            </div>
            <img src="\static\images\asan-logo.jpeg" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <section class="container mt-3">
                <% bodytext.forEach(element=>{ %>
                    <h2><%= element.title %></h2>
                    <p><%= element.text %></p>
                <%})%>            
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>
</html>